* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Open Sans';*/
  /*-webkit-font-smoothing: antialiased;*/
}

html {
  margin: 0 auto;
  width: 70vw;
  max-width: 900px;
  background-color: #FFFFFF;
}

body {
  width: 100%;
  /*border: 1px solid black;*/
  /*background-color: #422FB1;*/
}

header {
  padding: 10px 0;
  text-align: center;
  /*border: 1px solid green;*/
}

header img {
  height: 150px;
}


footer {
  clear: left;
  padding-top: 25px;
  text-align: center;
  /*border: 1px solid green;*/
}
